<% include ./partials/header %>

<h1>Sign Up!</h1>

<form action='/register' method='POST'>
  <input type='text' name='username' placeholder='username' autocomplete='username'>
  <input type='password' name='password' placeholder='password' autocomplete='current-password'>
  <button>Submit</button>
</form>

<% include ./partials/footer %>
